{% extends '::base.html.twig' %}

{% block content %}

<h1>Convert a Number to a Roman Numeral</h1>

<p>
    This uses the toRomanNumeral() function from the roman numeral service to convert a number to its 
    Roman Numeral representation.
    <br>&nbsp;
</p>

<form action="{{ path('roman_numeral_post') }}" method="post">

    {{ form_rest(form) }}

    <button class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;
        Convert
    </button>
    <br>&nbsp;
</form>

{% if result is defined and result is not null  %}
    <h3>Result:</h3>
    {{ result }}
{% endif %}

{% endblock %}