<div class="navbar navbar-default navbar-default-header">
    <div class="container">
        <div class="navbar-header">
                <a href="/" class="navbar-brand">Sentry Data Systems</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li{% if '/atoi' in app.request.requesturi %} class="active"{% endif %}>
                    <a href="{{ path('atoi') }}">Atoi</a>
                </li>
                <li{% if '/ackermann' in app.request.requesturi %} class="active"{% endif %}>
                    <a href="{{ path('ackermann') }}">Ackermann</a>
                </li>
                <li{% if '/palindrome' in app.request.requesturi %} class="active"{% endif %}>
                    <a href="{{ path('palindrome') }}">Palindrome</a>
                </li>
                <li{% if '/roman-numeral' in app.request.requesturi %} class="active"{% endif %}>
                    <a href="{{ path('roman_numeral') }}">Roman Numeral</a>
                </li>
            </ul>
        </div>
    </div>
</div>