{% extends '::base.html.twig' %}

{% block content %}

<h1>Compute the Ackermann value</h1>

<p>
    This uses the ackermann() function from the ackermann service to get the Ackermann value for a given set (m, n).
    <br>&nbsp;
</p>

<form action="{{ path('ackermann_post') }}" method="post">

    {{ form_rest(form) }}

    <button class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-calculator"></span>&nbsp;
        Calculate
    </button>
    <br>&nbsp;
</form>

{% if result is defined and result is not null  %}
    <h3>Result:</h3>
    {{ result }}
{% endif %}

{% endblock %}