{% extends '::base.html.twig' %}

{% block content %}

<h1>Convert a String to an Integer</h1>

<p>
    This uses the atoi() function from the atoi service to convert a string to its integer representation.
    <br>&nbsp;
</p>

<form action="{{ path('atoi_post') }}" method="post">

    {{ form_row(form.int) }}
    {{ form_rest(form) }}

    <button class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;
        Convert
    </button>
    <br>&nbsp;
</form>

{% if result is defined and result is not null  %}
    <h3>Result:</h3>
    {{ result }}
{% endif %}

{% endblock %}