body {
    padding-top: 0;
    //line-height: 1.5;
}

.bold { font-weight: bold; }

p, ul {
    line-height: 1.5;
}

pre {
    margin: 15px 0 21px 0;
}

pre code {
    font-size: 12px;
    /* horizontal scroll when necessary since text only wraps on line breaks */
    white-space: pre;
}

article {
    font-size: 16px;
    padding-right: 75px;
}

article.index {
    padding-right: 35px;
    font-size: 15px;
}

article.post {
    padding-right: 35px;
}

article.post h2.title {
    margin-bottom: 7px;
    font-size: 34px;
}

article .short-description {
    font-style: italic;
    margin-bottom: 25px;
}

article.post > div > p:first-child:first-letter {
    float: left;
    font-family: "Harriet Display",Georgia,Times,"Times New Roman",serif;
    font-size: 3.5em;
    line-height: 0.8em;
    margin-right: 0.1em;
    text-transform: uppercase;
}

footer {
    color: #aaaaaa;
    font-size: 12px;
    margin: 3em 0;
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

footer p {
    margin-bottom: 0;
}

.navbar-default-header {
    border-radius: 0;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

h1.banner {
    font-size: 4em;
    margin-top: 0;
}

.profile-picture {
    border-radius: 10px;
}

.fb-share-button {
    padding-bottom: 7px;
}

#twitter-timeline iframe {
    width: 100%;
}

button a, button a:hover {
    color: #ffffff;
}

.center {
    text-align: center;
}

.label a {
    color: #ffffff;
    font-weight: normal;
}

.label a:hover {
    text-decoration: underline;
    font-weight: normal;
}

/* index page */
h1.banner  {
    margin-bottom: 20px;
}

/* about page */
#about.post {
    font-size: 15px;
}

/* projects, blog page */
#project-list h4, #post-list h4 {
    padding-top: 15px;
    font-weight: bold;
}

#project-container h1, #repo-container h1 {
    margin-bottom: 16px;
}

/* single project/repo page */
#project-sidebar, #repo-sidebar, #post-sidebar {
    padding-top: 15px;
}

#post-sidebar {
    padding-top: 60px;
    padding-bottom: 15px;
}

#project-sidebar-tag-list, #project-sidebar-repo-list, #repo-sidebar-tag-list, #post-sidebar-tag-list {
    line-height: 1.6em;
}

#project-sidebar-tag-list .label, #project-sidebar-repo-list .label, #repo-sidebar-tag-list .label, #post-sidebar-tag-list .label {
    font-weight: normal;
}

/* blog page */
.panel-body p.last {
    margin-bottom: 0;
}

.panel-body p span.badge {
    float: right;
}

article h1.title, article h2.title, article h3.title {
    margin-top: 12px;
    margin-bottom: 25px;
}

div.post {
    padding-bottom: 15px;
}

#post-sidebar .label {
    line-height: 2.2;
}

#post-sidebar hr {
    margin-right: 0.5em;
    margin-top: 12px;
    margin-bottom: 12px;
}

#post-sidebar a.project {
    padding-top: 3px;
    display: inline-block;
    font-size: 14px;
    line-height: 1.3;
}

.blog-sidebar .list {
    border-top: 1px solid #ECF0F1;
    padding-top: 5px;
}

.blog-sidebar a.list-group-item {
    border: 0;
    padding: 5px 15px;
    background: transparent;
}

.blog-sidebar a.list-group-item:hover {
    background-color: #ECF0F1;
    border-radius: 5px !important;
}

#recent-posts a.list-group-item {
    padding: 10px 15px;
}

#tags.list-group {
    margin-bottom: 25px;
}

#post-list .post-details {
    color: #999;
    font-size: 13px;
}

a, a:hover {
    //color: #3498DB;
}

h1 a, h1 a:hover, h2 a, h2 a:hover, h3 a, h3 a:hover, h4 a, h4 a:hover, h5 a, h5 a:hover, h6 a, h6 a:hover {
    color: #2C3E50;
}

footer a, footer a:hover {
    color: #18BC9C
}

#feed-links {
    padding-bottom: 5px;
}

#feed-links a {
    color: #555555;
}

p.feed-links {
    line-height: 1.4;
}

.site-icon {
    width: 24px;
    height: 24px;
    position: relative;
    display: inline-block;
    padding-right: 30px;
    top: 7px;
}

.site-icon-feed {
    background: url('/bundles/site/images/icons/rss-feed.png') no-repeat;
}

.site-icon-mail {
    background: url('/bundles/site/images/icons/mail.png') no-repeat;
}

@media (max-width: 767px)
{
    .navbar-nav {
      margin: 0;
    }

    #post-sidebar {
        padding-top: inherit;
    }

    .blog-sidebar a.list-group-item> .badge {
        display: none;
    }
}

@media (max-width: 991px)
{
    .blog-sidebar a.list-group-item> .badge {
        display: none;
    }
}

@media (max-width: 1199px)
{
    article.post {
        padding-right: 10px;
    }

    footer p {
        clear: left;
    }

    footer .copyright {
        float: left !important;
    }

    #post-sidebar {
        padding-top: 15px;
    }
}