{% extends '::base.html.twig' %}

{% block content %}

<h1>Check if a String is a Palindrome</h1>

<p>
    This uses the isPalindrome() function from the palindrome service to check if a string is a palindrome.
    <br>&nbsp;
</p>

<form action="{{ path('palindrome_post') }}" method="post">

    {{ form_row(form.string) }}
    {{ form_row(form.stripNonLetters) }}
    {{ form_rest(form) }}

    <button class="btn btn-primary" type="submit">
        <span class="glyphicon"></span>&nbsp;
        Check
    </button>
    <br>&nbsp;
</form>

{% if result is defined and result is not null %}
    <h3>Result:</h3>
    {% if result %}
        The string is a palindrome!
    {% else %}
        The string is not a palindrome. :'(
    {% endif %}
{% endif %}

{% endblock %}