{% extends '::base.html.twig' %}

{% block content %}

<div class="row">
    <div class="col-lg-9 col-md-8">
        <h1>Sentry Data Systems Test</h1>
        <article class="index">
            <p>
                &nbsp;<br>
                This site is to show how the problems presented in the Sentry Data Systems test can have their 
                services called directly from a webpage after submitting forms to get their corresponding output. 
                Simply click on any of the links and submit form data to see the results. This also shows 
                the capability of setting up an Apache site, subdomain, and hosting the pages. The assets 
                are also appropriately minimized and versioned (view source and look at the included stylesheets). 
                The site is also responsive and works equally well on a desktop or tablet/mobile device.
            </p>
            <p>
                The forms automatically handle exceptions and error-checking in a rudimentary way.  Upon success, 
                a green box will appear at the top window, with the result of the function below the form. 
                If there is any part that fails, a red box with the appropriate error message will show up, 
                along with the original inputs to the form that can then be modified.
            </p>
            <p>
                Use the menu to view each of the forms, or visit them directly via the following links:
                <ul>
                    <li><a href="{{ path('atoi') }}">Atoi</a></li>
                    <li><a href="{{ path('ackermann') }}">Ackermann</a></li>
                    <li><a href="{{ path('palindrome') }}">Palindrome</a></li>
                    <li><a href="{{ path('roman_numeral') }}">Roman Numeral</a></li>
                </ul>
            <p>
                To view the readme and source code, visit here: 
                <a href="https://bitbucket.org/jasonroman/sentry-data-systems/overview" 
                   target="_blank">https://bitbucket.org/jasonroman/sentry-data-systems/overview
                </a>
            <p>
                If you have any further questions, feel free to contact me at:
                <ul>
                    <li><a href="mailto:j@jayroman.com">j@jayroman.com</a></li>
                    <li>586-634-6308</li>
                </ul>
            </p>
            <p>
                Thanks!<br>
                -Jason
            </p>
        </article>
    </div>

</div>

{% endblock %}